.tabela {
    color: #ffffff;
    
}

.produtos-moda {
    background-color: #BB86FC;
    
}
.valores-da-tabela {
    background-color: #424250;
 
}

.produtos-casa {
    background-color: #00C4B4;
    
}